/* @import "../css/fontawesome/css/all.css";  */

main > .container-fluid {
  padding: 3% 5% 5%;

}

main > .container-fluid > h1 {
  padding: 0 0 20px 0;

}

.footer {
  background-color: #f5f5f5;
}

.footer > .container-fluid {
  padding-right: 15px;
  padding-left: 15px;
}

.card-deck {
padding-bottom: 2%;
}

.card{
  max-width: 554px;
}


code {
  font-size: 80%;
}

pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
  max-width:100%;
  white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

